<!DOCTYPE html>   
<html>   
<head>  
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
    <title> Sign Up </title>  
</head>    
<body>    
    <div class="form">
        <h1>Sign Up</h1>
        <form method="post">  
            <div class="container">   
                <input type="text" placeholder="Enter Username" name="username" required>  
                <input type="password" placeholder="Enter Password" name="password" required>  
                <input type="password" placeholder="Confirm Password" name="confirm_password" required>  
                <button type="submit">Sign Up</button>   
            </div>   
        </form>     
    </div>
</body>     
</html>  
